body{
    font-size: 24px;
    background-color: #d2d3d5;
}

hr{
    border-top: 1px solid #4b4b4d;
}

a{
    color: #fff;
}

a:hover{
    color: #4e1717;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 34px;
}

.header-top{
    margin: 20px 0;
}

.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-size: 40px;
    padding: 30px 30px;
    color: #fff;
    text-transform: uppercase;
    height: 100%;
    line-height: 40px;
}

.navbar-brand a:hover{text-decoration: none; color: #fff;}

.navbar-red{
    background-color: #c00000;
}

.navbar-red .navbar-toggle {
    border-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

.navbar-red .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-nav > li > a {
    padding-top: 40px;
    padding-bottom: 40px;
}

.bg-acercade{
    background-color: #4b4b4d;
    color: #fff;
    padding-bottom: 40px;
}

.bg-acercade .page-header{
    border-bottom: 1px solid #fff;
}

.page-header{
    border-bottom: 1px solid #4b4b4d;
}

.carousel-inner{
    max-height: 250px;
}

.carousel-inner > .item{
    top: -20px;
}

.carousel-control:focus {
    color: #c00000;
}
.carousel-control{
    color: #c00000;
    text-shadow: 0 1px #fff;
    opacity: 1;
}
.carousel-control .glyphicon-chevron-right,
.carousel-control .glyphicon-chevron-left{
    font-size: 50px;
    margin-right: 10px;
}

.carousel-control.left,
.carousel-control.right{
    background-image: none;
}

.more{
    width: 270px;
    padding: 5px;
}

.more a{
    text-decoration: none;
    background-color: #c00000;
    padding: 63px 85px;
    display: block;
}

.more a:hover{
    color: #fff;
}

.softn{
    font-size: 0.5em;
}
.softn a{
    color: #333;
}

/* ---- */
.sl-wrapper .sl-counter,
.sl-wrapper .sl-close,
.sl-wrapper .sl-navigation button.sl-prev,
.sl-wrapper .sl-navigation button.sl-next{
    color: #c00000;
    font-size: 3em;
}

.sl-wrapper .sl-close:hover,
.sl-wrapper .sl-navigation button.sl-prev:hover,
.sl-wrapper .sl-navigation button.sl-next:hover{
    color: #fff;
}

.sl-overlay{
    background: #1f1d1d;
    opacity: 1;
}

.sl-wrapper .sl-image{
    z-index: 1014;
}