---
import Hero from './Hero.astro';
import Services from './Services.astro';
import HighlightsWorks from './HighlightsWorks.astro';
import Reviews from './Reviews.astro';
import AboutMe from './AboutMe.astro';
---

<Hero/>
<Services/>
<HighlightsWorks/>
<Reviews/>
<AboutMe/>

<div class="bg-dark">
  <div class="container">
    <hr class="border-secondary m-0">
  </div>
</div>

<style>
</style>
