---
import Hero from './home/Hero.astro';
import Services from './home/Services.astro';
import HighlightsWorks from './home/HighlightsWorks.astro';
import Reviews from './home/Reviews.astro';
import AboutMe from './home/AboutMe.astro';
---

<Hero/>
<Services/>
<HighlightsWorks/>
<Reviews/>
<AboutMe/>

<div class="bg-dark">
  <div class="container">
    <hr class="border-secondary m-0">
  </div>
</div>

<style>
</style>
