---
import {REVIEWS} from '../consts/reviews';
---

<div id="reviews"
     class="py-5 bg-light">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-6 mx-auto text-center">
        <span class="badge bg-danger px-3 py-2 rounded-pill mb-4">Reseñas</span>
        <h2 class="display-6 fw-bold mb-4">Lo que dicen nuestros clientes</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div id="sb-carousel-reviews"
             class="carousel slide"
             data-bs-ride="carousel">
          <div class="carousel-indicators mb-0">
            {REVIEWS.map((_, index) => (
              <button type="button"
                      data-bs-target="#sb-carousel-reviews"
                      data-bs-slide-to={index}
                      class={`text-bg-danger${index === 0 ? ' active' : ''}`}
                      aria-current={index === 0 ? 'true' : null}
                      aria-label={`Slide ${index + 1}`}></button>
            ))}
          </div>
          <div class="carousel-inner">
            {
              REVIEWS.map(({
                name,
                rating,
                comment
              }, index) => (
                <div class={`carousel-item${index === 0 ? ' active' : ''}`}>
                  <div class="card">
                    <div class="card-body">
                      <div class="mb-3">
                        {
                          [...Array(rating)]
                            .map(() => (
                              <i class="bi bi-star-fill text-warning me-1"></i>
                            ))
                        }
                      </div>
                      <p class="card-text">"{comment}"</p>
                      <h5 class="card-title">{name}</h5>
                    </div>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .carousel-inner {
    min-height: 220px;
  }
</style>
