---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
import BackToTopButton from '../components/BackToTopButton.astro';
import WhatsappButton from '../components/WhatsappButton.astro';
import {getLangFromUrl, useTranslations} from '../i18n/utils';

const currentLocale = getLangFromUrl(Astro.url);
const t = useTranslations(currentLocale);
---
<!doctype html>
<html lang={currentLocale}>
  <head>
    <Head title={t('head.site-title')}
          description={t('head.site-description')}/>
  </head>
  <body>
    <Header/>
    <main>
      <slot/>
    </main>
    <Footer/>
    <WhatsappButton/>
    <BackToTopButton/>
  </body>
</html>

<style>
</style>
